.inputDate {
    padding:2px;
    border:1px solid lightblue;
    position:relative;
    width:108px;
    height:20px;
}

.year {
    margin:0;
    padding:0;
    border:none;
    width:42px;
    text-align: center;
    font-size:16px;
}

.day, .month{
    margin:0;
    padding:0;
    border:none;
    width:25px;
    text-align: center;
    font-size:16px;
}

.inputDate input:focus {
    border:none;
    outline: none;
}
